.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    column-gap: 15%;
    margin-top: var(--margin-top);
}
#about h1 {
    text-align: center;
}
.about__me {
    width: 70%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(45deg, transparent,var(--color-primary,transparent));
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
}
.about__me__img {
    width: 100%;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
.about__me___img:hover {
    transform: rotate(0);
    cursor: pointer;
}
/* the part of the cards */
.about__cards  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.about__card {
    background: var(--color-primary-variant);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    border: .1rem solid var(--color-bg-variant);
    transition: var(--transition);
    cursor: pointer;
}
.about__card:hover {
    background:transparent;
    color: var(--color-primary-variant);
}
.about__icon {
    color: var(--color-primary);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size: .9rem;
    margin-bottom: .5rem;
}
.about__card h6 {
    color: var(--color-light);
}
.about__content p {
    margin: 1.1rem 0;
    color: var(--color-white);
}
/* ========================some media queries (medium devices) */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .about__me {
        width: 50%;
        margin-bottom: var(--margin-top);
    }
    .about__content {
        text-align: center;
    }
    .about__content p {
        margin: 1rem 0 ;
        text-align: justify;
    }
}
/* ========================some media queries (small devices) */
@media screen and (max-width: 600px) {
        .about__container {
            width: 60%;
            margin: 1rem auto ;
    }
   .about__cards {
    grid-template-columns: 1fr;
   }
}